.task-modal {
  max-width: 500px;
}
.task-modal .modal-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.task-modal p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.task-modal .form-group {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 100%;
  gap: 0.5rem;
}
.task-modal .form-group .subtask {
  background-color: rgb(32, 33, 44);
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.task-modal .form-group .subtask.checked {
  text-decoration: line-through;
  color: grey;
}
